@use 'partials/_variables.scss';
@use 'partials/_mixins.scss'; 
@use 'partials/_breakpoint.scss';

.boton{
    @include boton(2px, 10px);
}
.boton:hover{
    @include botonHover;
}

.contenedorPadreF{

    grid-template-rows: 1fr !important;
    
    // height: 000px !important;
    @include responder-a(mediano){
        margin-bottom: 150px !important;
    }

    @include responder-a(extrapequenio){
        margin-bottom: 500px !important;
    }
    


    .contenidoFormularioHorario{
    
        display: grid;
        justify-items: center;
        align-items: center;
        height: auto;
        .formulario{
            border-radius: 20px;
            box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.2);
            background: rgb(255,255,255);
            background: linear-gradient(349deg, rgba(255,255,255,1) 0%, $moradoDiv 51%, $moradoDiv 72%, rgba(255,255,255,1) 100%);
            display: grid;
            justify-items: center;
            align-items: center;
            padding: 50px;
            margin: 50px;
    
            @include responder-a(mediano){
                padding: 20px;
                margin: 20px;
            }
    
            
            .horas{
                .horasContenido{
                    .fila{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
    
                        @include responder-a(mediano){
                            grid-template-columns: 1fr;
                        }
    
                        .botonEnviar{
                            margin: 50px;
                            padding: 50px;
                        }
                    }
                }
    
                
                
            }
        }
    
        
        
    }
}



