.contenedorCalendario{
    padding: 60px;
    .h2{
        display: grid;
        // align-items: center;
        justify-items: center;
        color: #000000;
    }

    .botones{
        //background-color: aqua;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //justify-items: space-between;
        padding-top: 30px;

        div{
            //background-color: aqua;
            //display: grid;
            //justify-content: space-between;
            //grid-template-columns: repeat(2, 1fr);
            //gap: 60px;

            .boton{
                padding: 10px 20px;
                background-color: #9796AD;
                border: 1px solid #9796AD;
                color: #F2F2F2;
            }
            .boton:hover{
                background-color: #B3AEC7;
                border: 1px solid black;
            }
            
        }
        .final{
            display: flex;
            justify-content: end;
        }
        
    }
    

}

// ----------------------------------------------------------------------
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijado en la ventana */
    z-index: 1; /* Estar por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permitir scroll si es necesario */
    background-color: rgb(0, 0, 0); /* Fondo negro con opacidad */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo con opacidad */
    padding-top: 60px; /* Padding para centrar contenido */
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
}
.modal-footer {
    display: flex;
    justify-content: space-between;
}