.psi{
    background-image: url('../imagenes/inicioPaciente.jpg');
    background-size: cover;
    background-position: center;
}
.contenidoPsi{
    background-color: rgba(51, 41, 61, 0.656);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10%;
    
    .interiorContenidoPsi{
        
        display: grid;
        gap: 100px;
        grid-template-columns: repeat(3, 1fr);

        .enlace{
            // background-color: rgba(45, 50, 50, 0.545);
            padding: 25px 40px;
            border: 0.5px solid white;
            display: grid;
            align-items: center;
            justify-items: center;
            a{
                font-size: 16px;
                text-align: center;
                color: white;
                text-decoration: none;
            }
        }
        .enlace:hover{
            background-color: rgba(51, 50, 86, 0.5);
            border: 0.5px solid rgba(51, 50, 86, 0.5);
            // a{
            //     // font-size: 20px;
            //     // color: red;
            // }
        }
    }
}