.psi{
    @include fondo('../imagenes/inicioPaciente.jpg');
}
.contenidoPsi{
    background-color: $moradoFondo;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10%;
    
    .interiorContenidoPsi{
        
        display: grid;
        gap: 100px;
        grid-template-columns: repeat(3, 1fr);

        .enlace{
            @include boton;
        }
        .enlace:hover{
            @include botonHover;
        }
    }
}