.inicioPsicologo{
    // @include fondo('../imagenes/inicioPaciente.jpg');
    @include fondoMorado;
}
.contenidoPsi{
    // background-color: $moradoFondo;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10%;
    
    .interiorContenidoPsi{
        
        display: grid;
        gap: 100px;
        grid-template-columns: repeat(3, 1fr);

        .enlace{
            @include boton(22px, 10px);
        }
        .enlace:hover{
            @include botonHover;
        }
    }
}