.contenedorCalendario{
    padding: 60px;
    .h2{
        display: grid;
        justify-items: center;
        color: $moradoTabla;
    }

    .botones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;

        div{

            .boton{
                @include boton;
                background-color: $moradoTabla;
            }
            .boton:hover{
                @include botonHover;
            }
            
        }
        .final{
            display: flex;
            justify-content: end;
        }
        
    }
    .horas{
        display: grid;
        justify-items: center;
        h3{
            color: $moradoTabla;
        }
        .horasDisponibles{
            td{
                border: 1px solid $moradoTabla;
                padding: 10px;
                cursor: pointer;
            }
            td:hover{
                background-color: #D0CBD9;
            }
        }
    }
    

}
.inicioPaciente{
    @include fondo('../imagenes/fondoPaciente.png');
    
}

// ----------------------------------------------------------------------
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px; 

    .modal-content {
        background-color: #e3e0e8;
        margin: 5% auto; 
        padding: 20px;
        height: 200px;
        width: 80%; 
        display: grid;
        align-items: center;
        justify-items: center;

        .modalText{
            font-family: $fuenteLetra;
            font-weight: bold;
        }

        .modal-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .boton{
                font-family: $fuenteLetra;
                margin: 30px;
                padding: 10px 20px;
                background-color: #9796AD;
                border: 1px solid #9796AD;
                color: white;
            }
            .boton:hover{
                background-color: #B4AFC8;
                border: 1px solid black;
            }
        }


    }
    
}
