@use 'partials/_variables.scss';
@use 'partials/_mixins.scss'; 
@use 'partials/_breakpoint.scss';
.cont{
    display: grid;
    font-family: $fuenteLetra;
    
    .contenedor{
        
        height: 100vh;
        //background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 1fr 10fr;
        
        .contenido{
            background-color: $moradoFondo;
            display: grid;
            align-items: center;
            justify-items: end;
            padding: 10%;
            .texto{
                color: white;
                text-align: end;
                
                h1{
                    font-size: 60px;
                    font-weight: bold;
    
                }
                h3{
                    font-size: 30px;
                    font-weight: 100;
                }
            }
            .interiorContenido{
                display: grid;
                gap: 100px;
                grid-template-columns: repeat(2, 1fr);
    
                .enlace{
                    padding: 25px 40px;
                    border: 0.5px solid white;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    a{
                        font-size: 16px;
                        text-align: center;
                        color: white;
                        text-decoration: none;
                    }
                }
                .enlace:hover{
                    background-color: rgba(51, 50, 86, 0.5);
                    border: 0.5px solid rgba(51, 50, 86, 0.5);
                }
            }
        }
           
        
    }
    
    .portada{
        background-image: url('../imagenes/portada.jpg');
        background-size: cover;
    }
    
    footer{
        display: grid;
        text-align: center;
        color: white;
        background-color: $moradoFooter;
    }
}
