input[type="file"].boton {
    display: block;
    margin-bottom: 10px;
    width: 200px;
  }
  
  input[type="file"].boton::-webkit-file-upload-button {
    display: block;
    margin: 0 auto;
  }
  

.preInicio{
    // @include fondo('../imagenes/preInicio.jpg');
    @include fondoMorado;
    display: grid;
    // justify-items: center;
    align-items: center;

    .contFormularios{
        display: grid;
        // gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        margin: 100px 0;
        .formulario{
            @include bordeAnimado;
            width: 500px;
            padding: 100px;
            
            @include responder-a(extragrande){
                width: 400px;
            }
            @include responder-a(mediano){
                width: 350px;
            }
        }
        @include responder-a(pequeno){
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    // .contFormularios{
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     justify-items: center;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 50px;
    //     @include responder-a(extragrande){
    //         padding: 0;
    //     }
    //     .formulario{
    //         // background-color: $negroFondo;
    //         height: 800px;
    //         width: 500px;
            
    //         display: grid;
    //         justify-items: center;
    //         align-items: center;
    //         @include bordeAnimado;
    //         // height: auto;
    //         padding: 100px;
            
    //         @include responder-a(extragrande){
    //             width: auto;
    //             padding: 0;
    //         }
            
    //         form{
    //             // background-color: aqua;
    //             // padding: 50px;
                
    //             .boton{
    //                 @include boton(2px, 10px);
    //             }

    //             .boton:hover{
    //                 @include botonHover;
    //             }
    //         }
    //     }
        


    // }

}